<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sandwiches (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sandwiches (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B1896CC24DCFA5B00F8B9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B1896D424DCFA5B00F8B9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B1896DC24DCFA5B00F8B9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B1896E724DCFA5B00F8B9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
